<md-progress-linear ng-show="showProgress"
                    class="md-warn"
                    md-mode="{{modes[0]}}"
                    value="{{determinateValue}}"
                    md-buffer-value="{{determinateValue2}}">

</md-progress-linear>


<div ng-cloak class="md-padding" md-theme="tabs">
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Encrypt">
                <md-content class="md-padding">

                    <span class="md-headline">Encrypt Password</span>

                    <form ng-submit="passwordToHash()" md-theme="forms">


                        <md-input-container flex="40">
                            <label>Enter Your Password here</label>
                            <input type="password"
                                   ng-model="dataToBeEncrypted"
                                   required/>
                        </md-input-container>

                        <md-input-container flex="40">
                            <label>Encryption Rounds</label>
                            <input type="number"
                                   max="12"
                                   min="0"
                                   placeholder="default is 10"
                                   ng-model="rounds"/>
                        </md-input-container>

                        <md-button md-theme="default"
                                   class="md-button md-primary md-raised "
                                   ng-click="submit">
                            Submit
                        </md-button>


                    </form>


                </md-content>
            </md-tab>

            <md-tab label="Varify">
                <md-content class="md-padding">


                    <span class="md-headline">Varify Encrypt Password</span>

                    <form ng-submit="varifyHash()" md-theme="forms">


                        <md-input-container flex="40">
                            <label>Enter Real Password here</label>
                            <input type="password"
                                   ng-model="realPassword"
                                   required/>
                        </md-input-container>

                        <md-input-container flex="40">
                            <label>Enter Encrypted Password here</label>
                        <textarea ng-model="hashedPassword"
                                  required>
                        </textarea>
                        </md-input-container>


                        <md-button md-theme="default"
                                   class="md-button md-primary md-raised "
                                   ng-click="submit">
                            Submit
                        </md-button>

                    </form>
                </md-content>
            </md-tab>
            <md-tab label="How-To Instructions">
                <md-content class="md-padding">

                    <span class="md-headline">
                        What is Encryption:
                    </span>
                    <br/>
                    <br/>
                    <span class="md-body-1 ">
                        In cryptography, encryption is the process
                        of encoding messages or information in such a
                        way that only authorized parties can read it.
                        Encryption does not of itself prevent interception,
                        but denies the message content to the interceptor.
                    </span>

                    <br>
                    <br>
                    <br>

                    <span class="md-headline ">
                        One-Way Encryption:
                    </span>
                    <br/>
                    <br/>
                    <span class="md-body-1 ">
                        One-way encryption or <b>cryptographic hash</b> is
                        cryptographic technique<br/>
                        in which "<i>cryptographic hash functions</i>" create
                        some what called "Hash" as a result of our input data,output
                        MAY (MUST in some systems) different for same input and
                        these hash is considered
                        <b>"unable to decrypt"</b>, if any one have
                        real data/password he can just check
                        by comparing the hash and original data, this will return
                        true if the password and hash matched and false if not matched,
                        <br/>
                        NOBODY CAN ACCESS REAL DATA
                        <br/>
                        these hash techniques are considered ideal for encryption passwords
                        when passwords are stored in third party servers
                    </span>


                    <br/>
                    <br/>
                    <br/>


                    <span class="md-headline">
                        How to use this page:
                    </span>
                    <br/>
                    <br/>
                    <span class="md-body-1">
                        you can encrypt passwords by providing password in password
                        field(which is required) and rounds(which is optional), submit with these
                        information will return you a Hash
                        <br>
                        ROUNDS: Rounds is nothing but the difficulty of encryption,
                        if i say simply tell you "<b>more rounds means more secure hash</b>"
                        but it take more time if you choose more rounds.
                        <br>
                        Default value of Rounds is 10 if you leave the round field empty
                        and this value is recommended also
                        <br>
                        <br>
                        you can also compare your hash with original password with hash
                        by providing real password/data in real password field and
                        encrypted password/hash in encrypted password field and when you
                        submit with these information you will be returned with true or false
                        as mentioned previously

                    </span>


                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>


<md-input-container class="md-block" ng-if="result.data.res">
    <label>
        Response
    </label>
        <textarea ng-bind="result.data.res"
                  ng-if="result.data.res">
        </textarea>
</md-input-container>

<md-input-container ng-if="showError">
    <label>
        Error
    </label>
        <textarea class="md-disabled" ng-model="showError">
        </textarea>
</md-input-container>







