<md-progress-linear ng-show="showProgress"
                    class="md-warn"
                    md-mode="{{modes[0]}}"
                    value="{{determinateValue}}"
                    md-buffer-value="{{determinateValue2}}">

</md-progress-linear>


<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Encrypt">
                <md-content class="md-padding">

                    <span class="md-headline">Encrypt Password</span>

                    <form ng-submit="passwordToHash()" md-theme="forms">


                        <md-input-container flex="40">
                            <label>Enter Your Password here</label>
                            <input type="password"
                                   ng-model="dataToBeEncrypted"
                                   required/>
                        </md-input-container>

                        <md-input-container flex="40">
                            <label>Encryption Rounds</label>
                            <input type="number"
                                   max="12"
                                   min="0"
                                   placeholder="default is 10"
                                   ng-model="rounds"/>
                        </md-input-container>

                        <md-button md-theme="default"
                                   class="md-button md-primary md-raised "
                                   ng-click="submit">
                            Submit
                        </md-button>

                        <md-input-container class="md-block" ng-if="result.data.res">
                            <label>
                                Encrypted Password
                            </label>
        <textarea ng-model="result.data.res"
                  ng-if="result.data.res">
        </textarea>
                        </md-input-container>

                        <md-input-container ng-if="showError">
                            <label>
                                Error
                            </label>
        <textarea class="md-disabled" ng-model="showError">
        </textarea>
                        </md-input-container>
                    </form>


                </md-content>
            </md-tab>

            <md-tab label="Varify">
                <md-content class="md-padding">


                    <span class="md-headline">Varify Encrypt Password</span>

                    <form ng-submit="varifyHash()" md-theme="forms">


                        <md-input-container flex="40">
                            <label>Enter Real Password here</label>
                            <input type="password"
                                   ng-model="realPasword"
                                   required/>
                        </md-input-container>

                        <md-input-container flex="40">
                            <label>Enter Encrypted Password here</label>
                        <textarea ng-model="hash"
                                  required>
                        </textarea>
                        </md-input-container>


                        <md-button md-theme="default"
                                   class="md-button md-primary md-raised "
                                   ng-click="submit">
                            Submit
                        </md-button>

                        <md-input-container class="md-block" ng-if="result.data.res">
                            <label>
                                Encrypted Password
                            </label>
                        <textarea ng-model="result.data.res"
                                  ng-if="result.data.res">
                        </textarea>
                        </md-input-container>

                        <md-input-container ng-if="showError">
                            <label>
                                Error
                            </label>
                        <textarea class="md-disabled" ng-model="showError">
                        </textarea>
                        </md-input-container>
                    </form>


                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>







