<md-content ng-show="loginFormShow">

    <md-content layout-padding md-theme="forms" layout-sm="column">
        <h1 class="md-headline">Login:</h1>

        <md-input-container flex="40">
            <label>Username</label>
            <input ng-model="loginInfo.username">
        </md-input-container>
        <md-input-container flex="40">
            <label>Password</label>
            <input ng-model="loginInfo.password" type="password">
        </md-input-container>

        <md-content layout="row" layout-sm="column" flex="40">

            <md-button md-theme="default" class="md-primary md-raised" flex>Login</md-button>
            <div flex></div>
            <div class="md-display-1 thin" flex>or</div>
            <div flex></div>
            <md-button flex ng-click="toggleSignupLoginFormShow();">Signup</md-button>
        </md-content>
    </md-content>

</md-content>




<form ng-submit="doSignup()">
    <md-content ng-show="signupFormShow">

        <md-content layout-padding md-theme="forms" layout-sm="column">
            <h1 class="md-headline">Sign up:</h1>

            <md-input-container flex="40">
                <label>First Name</label>
                <input ng-model="signupInfo.fname">
            </md-input-container>

            <md-input-container flex="40">
                <label>Last Name</label>
                <input ng-model="signupInfo.lname">
            </md-input-container>

            <md-input-container flex="40">
                <label>Username</label>
                <input ng-model="signupInfo.username">
            </md-input-container>
            <md-input-container flex="40">
                <label>Password</label>
                <input ng-model="signupInfo.password" type="password">
            </md-input-container>
            <md-input-container flex="40">
                <label>Re-type Password</label>
                <input ng-model="signupInfo.repassword" type="password">
            </md-input-container>
            <md-input-container flex="40">
                <label>Email</label>
                <input ng-model="signupInfo.email" type="email" ng-change="validateEmail()">
            </md-input-container>

            <md-content layout="row" layout-sm="column" flex="40">
                <md-button flex ng-click="toggleSignupLoginFormShow()">Login</md-button>
                <div flex></div>
                <div class="md-display-1 thin" flex>or</div>
                <div flex></div>
                <md-button ng-click="submit" md-theme="default" class="md-primary md-raised" flex>Signup</md-button>
            </md-content>
        </md-content>
    </md-content>
</form>

